<h1 class="center">Dog Compatibility Quiz</h1>
  <div class="container quiz-question">
<h3 class="center quiz-">What's your zipcode?</h3>
<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s4 offset-s4 center">
        <input id="icon_prefix" type="text" class="validate" />
        <label for="icon_prefix"><i class="fa fa-compass fa-2x" aria-hidden="true"></i>&nbsp Zipcode</label>
      </div>
    </div>
  </form>
  </div>
</div>
