<h3 class="center">Do you prefer a male or female dog?</h3>
<div class="row">
    <div class="center col s4 offset-s4 m6">
      <label for="icon_prefix"><i class="fa fa-male fa-5x" aria-hidden="true"></i>&nbsp </label>
      <br />
      <input name="group1" type="radio" id="male"/>
      <label for="male">Male</label>     
    </div>

    <div class="center col s8 offset-s4 m6">
      <label for="icon_prefix"><i class="fa fa-female fa-5x" aria-hidden="true"></i>&nbsp </label>
      <br />
      <input name="group1" type="radio" id="female" />
      <label for="female">Female</label>
    </div>
  </div>

  <div class="animsition-overlay center" data-animsition-overlay="true">
    <%= link_to 'Back', quizzes_3_path, class: 'animsition-link' %>
    <%= link_to 'Next', quizzes_5_path %>
  </div>

