<div class="animsition-overlay" data-animsition-overlay="true">
  <h3 class="center">Where are you living?</h3>
  <div class="row">
    <div class="center col s4 offset-s4 m6">
      <label for="icon_prefix"><i class="fa fa-building-o fa-5x" aria-hidden="true"></i>&nbsp </label>
      <br />
      <input name="group1" type="radio" id="apartment" />
      <label for="apartment">Apartment</label>     
    </div>

    <div class="center col s8 offset-s4 m6">
      <label for="icon_prefix"><i class="fa fa-home fa-5x" aria-hidden="true"></i>&nbsp </label>
      <br />
      <input name="group1" type="radio" id="house" />
      <label for="house">House</label>
    </div>
  </div>

  <div class="center">
    <%= link_to 'Back', quizzes_1_path, class: 'animsition-link' %>
    <%= link_to 'Next', quizzes_3_path, class: 'animsition-link' %>
  </div>
</div>

