<div class='row'>
<div class='quiz col s12'>

  <form id='quiz-form' action='/quizzes/form' method='POST'>
    <div class='first-slide center'>
      <div class='center col s12 m6 space-selection'>
        <h3>Where are you living?</h3>'
        <div class='row'>
          <i class='fa fa-building-o fa-5x quiz-apt' aria-hidden='true'></i>
          <i class='slick-form fa fa-home fa-5x quiz-house' aria-hidden='true'></i>
          <br />
        <div class='row'>
        <div class='quiz-label'>
          <input class='slick-form apt-check' name='apartment' type='radio' id='apartment'/>
          <label for='apartment'>Apartment</label>     
          <input class='slick-form house-check' name='house' type='radio' id='house'/>
          <label for='house'>House</label>
        </div>
        </div>
        </div>
      </div>


      <div class='center col s12 m6 space-selection'>
        <h3>Where will you spend the most time with your dog?</h3>
        <i class='fa fa-tree fa-5x' aria-hidden='true'></i>
        <i class='fa fa-gamepad fa-5x' aria-hidden='true'></i>
        <br />
        <input class='slick-form' name='outside' type='radio' id='outside' />
        <label for='outside'>Outside</label>     
        <input class='slick-form' name='inside' type='radio' id= 'inside' />
        <label for='inside'>Inside</label>
      </div>
        
      <div class='center col s12 m6 space-selection'>
        <h3>Do you prefer a male or female dog?</h3>
        <i class='fa fa-male fa-5x' aria-hidden='true'></i>
        <i class='fa fa-female fa-5x' aria-hidden='true'></i>
        <br />
        <input class='slick-form' name='male' type='radio' id='male' />
        <label for='male'>Male</label>     
        <input class='slick-form' name='female' type='radio' id='female'  />
        <label for='female'>Female</label>
      </div>

      <div class='center col s12 m6 space-selection'>
        <h3>Age?</h3>
        <i class='fa fa-paw fa-2x' aria-hidden='true'></i>
        <i class='fa fa-paw fa-3x' aria-hidden='true'></i>
        <i class='fa fa-paw fa-4x' aria-hidden='true'></i>
        <br />
        
        <input class='slick-form' name='small' type='radio' id='small' />
        <label for='small'>Small</label>
        <input class='slick-form' name='medium' type='radio' id='medium' />
        <label for='medium'>Medium</label>
        <input class='slick-form' name='large' type='radio' id='large' />
        <label for='large'>Large</label>  
      </div>

      <div class='center col s12 m6 '>
        <h3>What's your zipcode?</h3>
        <i class='fa fa-compass fa-3x compass-icon' aria-hidden='true'></i>
        <input class='slick-form' name='inside' type='radio' id='inside' />
        <input class='slick-form' type='number' 
               name='zip' placeholder='zipcode'
               id='zipcode' />
        <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
        <br />
        
        <div class="row">
          <button class='btn waves-effect waves-light submit-btn' id='quiz-submit' type='submit'>Submit
            <i class='material-icons right'>send</i>
          </button>
        </div>
      </div>

      <div class='center col s12 m6'>
        <h3 class="">Loading Results...</h3>
        <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
        <p class='slick-form'></p>
      </div>
    </div>
  </form>
</div>
</div>
