<h3>Location:</h3>
<input type="text" placeholder="Enter Zip Code OR City, State">
<br />


<h3>Sex:</h3>
<input id="cheese" type="checkbox" value="Cheese" />
<label for="cheese">Male</label>
<br />
<input id="olives" type="checkbox" value="Olives" />
<label for="olives">Female</label>
<br />

<h3>Groups:</h3>
<input id="cheese" type="checkbox" value="Cheese" />
<label for="cheese">Sporting</label>
<br />
<input id="olives" type="checkbox" value="Olives" />
<label for="olives">Family</label>
<br />
<input id="olives" type="checkbox" value="Olives" />
<label for="olives">Hound/Hunting</label>
<br />
<input id="olives" type="checkbox" value="Olives" />
<label for="olives">Protector</label>
<br />
<input id="olives" type="checkbox" value="Olives" />
<label for="olives">Toy</label>
<br />
<input id="olives" type="checkbox" value="Olives" />
<label for="olives">Herding</label>
<br />

<h4>Age:</h4>
<h6>(In Years)</h6>
<input id="cheese" type="checkbox"  value="Cheese" />
<label for="cheese">0-2</label>
<br />
<input id="olives" type="checkbox"  value="Olives" />
<label for="olives">2-4</label>
<br />
<input id="olives" type="checkbox"  value="Olives" />
<label for="olives">4-6</label>
<br />
<input id="olives" type="checkbox"  value="Olives" />
<label for="olives">6-9</label>
<br />
<br />