<h1>Search dogs in local shelters</h1>

<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="Enter Zip Code, City, OR State" id="zip_code" type="text" class="validate">
        <label for="zip_code">Location:</label>
      </div>
      <div class="input-field col s6">
        <input placeholder="Enter desired breed" id="breed" type="text" class="validate">
        <label for="breed">Breed:</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m4">
        <select>
          <option value="" disabled selected>No Preference</option>
          <option value="">Male</option>
          <option value="">Female</option>
        </select>
        <label>Gender</label>
      </div>
      <div class="input-field col s12 m4">
        <select>
          <option value="" disabled selected>No Preference</option>
          <option value="1">Sporting</option>
          <option value="2">Family</option>
          <option value="3">Hound/Hunting</option>
          <option value="4">Protector</option>
          <option value="4">Toy</option>
          <option value="4">Herding</option>
        </select>
        <label>Type</label>
      </div>

      <div class="input-field col s12 m4">
        <select>
          <option value="" disabled selected>Age:</option>
          <option value="1">Baby (0-6 months )</option>
          <option value="2">Young (.5-3 Years)</option>
          <option value="3">Adult (3-8 Years)</option>
          <option value="4">Senior (8+ years)</option>
        </select>
        <label>Age</label>
      </div>
    </div>
  </form>
</div>
