<div class="information-page">

  <!-- Info Nav -->
  <div class="row">
    <div class="info-nav">

      <ul class="col s12 m5">
        <li><a href="#ptsd-jump">PTSD</a></li>
        <li><a href="#veterans-jump">Veterans</a></li>
        <li><a href="#dogs-jump">Man's Best Friend</a></li>
        <li><a href="#resources-jump">Resources</a></li>
      </ul>
      <div class="col s12 m3">
        <h1 class="info-title">Info</h1>
      </div>
    </div>
  </div>



  <div class="info-box ptsd col s12">
    <div id="ptsd-jump" class="row scrollspy">
      <div class="col m4 offset-m1">
        <h4>Post Traumatic Stress Disorder</h4>
        <p>5 reasons adjustment into Civilian life can be hard</p>
        <ul>
          <li>You miss the camaraderie</li>
          <li>You miss the lifestyle</li>
          <li>You miss the action with the added benefit of getting paid for it</li>
          <li>You’re a perfectionist</li>
          <li>You don't talk enough </li>
        </ul>
        <br />
        <p>See full article on <a href="http://taskandpurpose.com/5-actual-reasons-youre-miserable-after-the-military/" target="_blank" rel="nofollow" >Task & Purpose</a></p>

        <br />

        <div class="item">
          <!-- <img src="http://cl.ly/image/0v15321t3W1a/pepsi.jpg" alt="pepsi" width="540" height="548"> -->
          <img class="responsive-img" src=<%=asset_path"ptsd.png"%>>
          <div class="item-overlay top"></div>
        </div>
      </div>
    </div>

  </div>


  <div class="info-box veterans-info col s12">
    <div id="veterans-jump" class="row scrollspy">
      <div class="ibox-text col offset-m2 m6">
        <div class="row">
          <h4 class="inline-block">Veterans</h4>
          <a class="float-right inline-block" href="https://www.uso.org/centers/united-states">Search local USO outposts in your area</a>
        </div>
        <hr/>
        <div id="wrapper row">
          <div class="chart col s12 m4">
            <h5>TOP 10 STATES WITH LARGEST VETERAN POPULATION</h5>
            <table>
              <tr>
                <th>State</th>
                <th>Veterans</th>
              </tr>
              <tr>
                <td>California</td>
                <td>1,851,470</td>
              </tr>
              <tr>
                <td>Texas</td>
                <td>1,680,418</td>
              </tr>
              <tr>
                <td>Florida</td>
                <td>1,583,697</td>
              </tr>
              <tr>
                <td>Pennsylvania</td>
                <td>939,069</td>
              </tr>
              <tr>
                <td>New York</td>
                <td>892,221</td>
              </tr>
              <tr>
                <td>Ohio</td>
                <td>866,481</td>
              </tr>
              <tr>
                <td>Virginia</td>
                <td>781,388</td>
              </tr>
              <tr>
                <td>North Carolina</td>
                <td>775,020</td>
              </tr>
              <tr>
                <td>Georgia</td>
                <td>752,882</td>
              </tr>
              <tr>
                <td>Illinois</td>
                <td>721,575</td>
              </tr>
            </table>

          </div>
          <div class="col s12 offset-m1 m7">
            <div class="wrapper">
              <br/>
              <p> 49% of the 1.3 million active-duty service members in the U.S. are concentrated in just five states — California, Virginia, Texas, North Carolina and Georgia.
              </p>
              <br/>
              <img class="responsive-img" src=<%=asset_path("vets_locations.png")%>>
              <br/>
              <p>The U.S. military today is gradually becoming a separate warrior class that is becoming increasingly distinct from the public it is charged with protecting. The job of every citizen going forward is to make the home that our soldiers are returning to, safer than the places they are returning from.</p>
              <br/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="info-box dogs col s12">
    <div id="dogs-jump" class="row container scrollspy">
      <div class="ibox-text col m8 l5">
        <h4>Why dogs?</h4>
        <p class="info-text">
          <li>Help bring out feelings of love </li>
          <li>Are good companions. </li>
          <li>Take orders well when trained</li>
          <li>Are fun and can help reduce stress.</li>
          <li>Are a good reason to get out of the house, spend time outdoors, and meet new people. </li>
        </p>
        <h5>The public sentiment is undeniable!</h5>

        <h4>The VA's outlook:</h4>
        <p class="info-text">
          <p>The VA only pays for treatments and vet bills for those with designated service dog labels (which are generally given to those with physical disability/deformities).</p>
          <br/>
          <p>See full article at <a href="http://www.ptsd.va.gov/public/treatment/cope/dogs_and_ptsd.asp" target="_blank" rel="nofollow" >U.S. Dept. of Veteran Affairs</a></p>
          <br/>
          <hr/>
          <h4>Why:</h4>
          <p>The VA does not publicly recognize dogs as a "formal" and truly "proper" form of treatment. They do, however, recognize that its intangible affects are unmatched and that unlike any pill that can be given.</p>
        </p>
        <br/>
        <hr/>
        <h4>What they are doing:</h4>
        <p>Investing $12 million into the research of ptsd effects and what dogs have on them with the help of universities all over the world</p>
      </div>
    </div>
  </div>



  <div id="resources-jump" class="container scrollspy">
    <br/>
    <br/>
    <h1 style="text-align: center;">Resources</h1>
    <br/>
    <br/>
    <div class="row">
      <div class="col s12 m6">
        <iframe width="640" height="400" src="https://www.youtube.com/embed/videoseries?list=PLY68Rr6ot1i6pG01Tf2Y2IbXL1m7A88d3" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col s12 m6">
        <iframe src="https://embed-ssl.ted.com/talks/sebastian_junger_our_lonely_society_makes_it_hard_to_come_home_from_war.html" width="640" height="400" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6">
        <p><img class="vet-jobs responsive-img" src=<%=asset_path"vets_jobs.png"%>></p>
      </div>
      <div class="col s12 m6">

        <div class="tumblr-photos">
          <div class="tumblr-photos">
            <div class="tumblr-slick center">
              <img class="responsive-img" src="http://www.aim.org/wp-content/uploads/2015/12/16545641747_d889098550_afghanistan-military-dogs1.jpg" height="400" width="300">
            </div>
          </div>
          <div class="tumblr-photos">
            <div class="tumblr-slick center">
              <img class="responsive-img" src="https://s-media-cache-ak0.pinimg.com/564x/61/39/de/6139decd936376b23097435a61779b63.jpg" height="450" width="300">
            </div>
          </div>
          <div class="tumblr-photos">
            <div class="tumblr-slick center">
              <img class="responsive-img" src="http://healveterans.com/wp-content/uploads/2016/02/v3b_carlos-vera-0411.jpg" height="450" width="300">
            </div>
          </div>
          <div class="tumblr-photos">
            <div class="tumblr-slick center">
              <img class="responsive-img" src="http://healveterans.com/wp-content/uploads/2016/02/h6_carlos-vera-0655.jpg" height="auto" width="500">
            </div>
          </div>
        </div>
        <br/>
        <br/>
        <br/>
      </div>
    </div>
  </div>
</div>
</div>
