<div class="container">
  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Contact Us</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal ">
    <div class="modal-content">
      <section id="contact">
        <div class="content">
          <div id="form">
            <form action="" id="contactForm" method="post">
              <span>Name</span>
              <input type="text" name="name" class="name" placeholder="Enter your name" tabindex=1 />
              <span>Email</span>
              <input type="text" name="email" class="email" placeholder="Enter your email" tabindex=2 />
              <span>Message</span>
              <textarea class="message" placeholder="Enter your message" tabindex=4></textarea>
              <input type="submit" name="submit" value="Send e-mail" class="submit" tabindex=5 href:"mailto:pmarshall1716@gmail.com?subject=Watchdogs">
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>

  <h1>Meet the Team - Watchdogs</h1>

  <div class="team-content row">
    <div class="col s12 m4">
      <div class="team-member">

        <img class="tm-member-img col s12" src="<%= asset_path("patrick.jpg") %>" >
        <div class="row">
          <div class="col s6">
            <a href="https://www.linkedin.com/in/pmarshall71" target="_blank" class="team-links"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
            <a href="https://github.com/pmarshall17" target="_blank" class="team-links"><i class="fa fa-github-square fa-3x" aria-hidden="true"></i></a>
            <a href="github" target="_blank" class="team-links"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>
          </div>
        </div>
        <h5>Patrick Marshall</h5>
        <p class="bio">A graduate of Texas A&M University, Patrick spent 3 years in Dallas, Texas managing yard operations for Union Pacific Railroad before making his move into technology. Patrick hopes to continue to affect sociotechincal systems across the world, and enhance technology that keeps our nations soldiers safe in combat.
        </p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="team-member">
        <img class="tm-member-img col s12" src="<%= asset_path("kelsie.jpg") %>">
        <div class="row">
          <div class="col s6">
            <a href="https://www.linkedin.com/in/kelsiegarcia" target="_blank" class="team-links"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
            <a href="https://github.com/kelsiegarcia" target="_blank" class="team-links"><i class="fa fa-github-square fa-3x" aria-hidden="true"></i></a>
            <a href="github" target="_blank" class="team-links"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>
          </div>
        </div>
        <h5>Kelsie Garcia</h5>
        <p class="bio">
          <!-- Bio content here -->

        </p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="team-member">
        <img class="tm-member-img col s12" src="<%= asset_path("sean.jpg") %>">
        <div class="row">
          <div class="col s6">
            <a href="https://www.linkedin.com/in/seanrparker" target="_blank" class="team-links"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
            <a href="https://github.com/seanrparker" target="_blank" class="team-links"><i class="fa fa-github-square fa-3x" aria-hidden="true"></i></a>
            <!-- <a href="https://twitter.com/seanrparker" target="_blank" class="team-links"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>&nbsp; Twitter</a> -->
          </div>
        </div>
        <h5>Sean Parker</h5>
        <p class="bio">A programmer since 2012, Sean has worked in both the private and public sector. Though most of his experience is in Wordpress, he has a growing appreciation for backend frameworks. In his spare time, he likes to longboard, camp, and hike mountain trails.
        </p>

      </div>
    </div>
  </div>
</div>
