<!-- <div class="container center">
  
  <a class="waves-effect waves-light btn contact-btn modal-trigger" href="#modal1">Contact Us</a> -->

  <!-- Modal Structure -->
<!--   <div id="modal1" class="modal ">
    <div class="modal-content">
        <div style="text-align: center"><a href="mailto:veteranwatchdogs@gmail.com">SUBMIT EMAIL</a></div>
        <hr/>
        <div style="text-align: center"><a href="https://twitter.com/veteran_watch">Tweet us @veteran_watch</a></div>
        <hr/>
        <div style="text-align: center"><a href="#">DROP US A LINE</a></div>
        <div style="text-align: center">(801)824-4072</div>
    </div>
  </div> -->
  <div class="container">
      <div class="col s6"><p>
        <h1 class="team-header">Our why</h1>
        <p class="team-text">
          Watchdogs aims to fill the void too commonly found amongst military veterans suffering from PTSD by pairing them with dogs in local animal shelters. Combined with the amount of veteran suicides per day, along with the hardships that veterans face as they assimilate back into average ciilian life, we have created a web application that hopes to ease the day-to-day of those that have devoted their lives to watching over us all. Any visitor can search for all types of dogs in their surrounding area anywhere throughout the nation, take a personality quiz that pairs you with our list of recommended breeds, view a map and search for local shelters in your area, browse through a list of all animal breeds and their distinct traits, and function as an informational site for those seeking PTSD resources or outlets.
        </p>
      </div>
      <div class="col s6"><p>
        <h1 class="team-header">Features</h1>
        <div class="team-text">
          <ul>• Gain insight and information into PTSD, its effects, possible treatments (our dogs), and local outreach events in their area</ul>
          <ul>• Uses pre-programmed logic to appropriately pair users with breeds that we recommend, based on their answers from the personality quiz</ul>
          <ul>• Allows for a visitor to view google maps on the search page and render a search for any animal shelter in any city</ul>
          <ul>• Displays a breeds and traits page to give the user as much information as possible on any desired breed</ul>
          <ul>• Find local USO outreach posts in any state, their address and that respective post’s point of contact and contact information</ul>
        </div>    
  </div>
  <h1 class="team-header">Meet the Team</h1>
  <div class="team-content row">
    <div class="col s12 offset-m3 m6 l4">
      <div class="team-member">
        <img class="tm-member-img col s12" src="<%= asset_path("patrick.jpg") %>" >
        <div class="row">
          <div class="col s6">
            <a href="https://www.linkedin.com/in/pmarshall71" target="_blank" class="team-links"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
            <a href="https://github.com/pmarshall17" target="_blank" class="team-links"><i class="fa fa-github-square fa-3x" aria-hidden="true"></i></a>
          </div>
        </div>
        <!--thats right, this is a lil inline styling just cause-->
        <h5 style="color: white; text-align: center;">Patrick Marshall</h5>
        <p class="bio">A graduate of Texas A&M University, Patrick spent 3 years in Dallas, Texas managing yard operations for Union Pacific Railroad before making his move into technology. Patrick hopes to continue to affect sociotechnical systems across the world, and enhance technology that keeps our nations soldiers safe in combat.
        </p>
      </div>
    </div>

    <div class="col s12 offset-m3 m6 l4">
      <div class="team-member">
        <img class="tm-member-img col s12" src="<%= asset_path("kelsie.jpg") %>">
        <div class="row">
          <div class="col s6">
            <a href="https://www.linkedin.com/in/kelsiegarcia" target="_blank" class="team-links"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
            <a href="https://github.com/kelsiegarcia" target="_blank" class="team-links"><i class="fa fa-github-square fa-3x" aria-hidden="true"></i></a>
            <a href="github" target="_blank" class="team-links"></a>
          </div>
        </div>
        <!--thats right, this is a lil inline styling just cause-->
        <h5 style="color: white; text-align: center;">Kelsie Garcia</h5>
        <p class="bio">Growing up on a farm with a pet fox, Kelsie loves all animals. She comes from a diverse work background which includes staff and leadership positions in healthcare, education, small business, and customer service. Her greatest passion is making a positive impact in the community, and wants to use her new skills in programming to do so.
        </p>
      </div>
    </div>

    <div class="col s12 offset-m3 m6 l4">
      <div class="team-member">
        <img class="tm-member-img col s12" src="<%= asset_path("sean.jpg") %>">
        <div class="row">
          <div class="col s6 team-icons">
            <a href="https://www.linkedin.com/in/seanrparker" target="_blank" class="team-links"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
            <a href="https://github.com/seanrparker" target="_blank" class="team-links"><i class="fa fa-github-square fa-3x" aria-hidden="true"></i></a>
          </div>
        </div>

        <!--thats right, this is a lil inline styling just cause-->
        <h5 style="color: white; text-align: center;">Sean Parker</h5>
        <p class="bio">A programmer since 2012, Sean has worked in both the private and public sector. Though most of his experience is in Wordpress, he has a growing appreciation for backend frameworks. In his spare time, he likes to longboard, camp, and hike mountain trails.
        </p>

      </div>
    </div>
  </div>
</div>
