<h1>Meet the Team - Watchdogs</h1>

<div class="team-content row">
  <div class="col s12 m4">
    <img class="tm-member" src="<%= asset_path("patrick.jpg") %>" >
    <h5>Patrick Marshall</h5>
    <p class="bio"></p>
    <a href="https://github.com/pmarshall17" target="_blank" class="col s12"><i class="fa fa-github-square fa-3x" aria-hidden="true"></i>&nbsp; Github</a>
    <a href="https://www.linkedin.com/in/pmarshall71" target="_blank" class="col s12"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>&nbsp; Linkedin</a>
    <a href="github" target="_blank" class="col s12"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>&nbsp; Twitter</a>
  </div>

  <div class="col s12 m4">
    <img class="tm-member" src="<%= asset_path("kelsie.jpg") %>">
    <h5>Kelsie Garcia</h5>
    <p class="bio">

    </p>
    <div class="row">

      <a href="https://github.com/kelsiegarcia" target="_blank" class="col s12"><i class="fa fa-github-square fa-3x" aria-hidden="true"></i>&nbsp; Github</a>
      <a href="https://www.linkedin.com/in/kelsiegarcia" target="_blank" class="col s12"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>&nbsp; Linkedin</a>
      <a href="github" target="_blank" class="col s12"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>&nbsp; Twitter</a>
    </div>
  </div>

  <div class="col s12 m4">
    <img class="tm-member" src="<%= asset_path("sean.jpg") %>">
    <h5>Sean Parker</h5>
    <p class="bio">A programmer since 2012, Sean has worked with Wordpress and responsive CSS, but is growing an appreciation for backend frameworks. In his spare time, Sean likes to longboard, camp, and hike mountain trails.</p>
    <div class="row">
      <a href="https://github.com/seanrparker" target="_blank" class="col s12"><i class="fa fa-github-square fa-3x" aria-hidden="true"></i>&nbsp; Github</a>
      <a href="https://www.linkedin.com/in/seanrparker" target="_blank" class="col s12"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>&nbsp; Linkedin</a>
      <!-- <a href="https://twitter.com/seanrparker" target="_blank" class="col s12"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i>&nbsp; Twitter</a> -->
    </div>
  </div>
</div>
