@import "materialize/components/color";
$primary-color: color("black", "lighten-2") !default;
@import 'materialize';
@import 'compilations.scss';
@import 'dogs.scss';
@import 'quizzes.scss';
@import 'statics.scss';

// Overwrite default font
html {
  font-family: Cabin, Trebuchet, sans-serif;
}


// Navigation

nav{
  background:none;
  box-shadow:none;
  width: 5%;
  right: 1%;
  top: 2%;
  position: fixed;
  z-index: 999;
}

nav .button-collapse{
  right:10px;
}
nav .mdi-navigation-menu{
  color:rgb(0, 0, 0);
}
.side-nav{
  background:rgba(0,0,0,.8);
  color:white;
}
.side-nav li:hover {
  border-left: 3px solid #d4d4d4;
}
.side-nav li:hover a {
  padding: 0 27px;
}
.side-nav li a {
  color: #cacaca;
  font-size: 16px;
  line-height: 60px;
}

// Cards
.card .card-title {
    font-size: 19px;
}

// Content

// Changing default font
// html {
//    font-family: GillSans, Calibri, Trebuchet, sans-serif;
//  }

// h1, h2, h3, h4, h5, h6{
//   text-decoration:underline;
// }

// Dogs
.dog-box {
  padding: 0 18px !important;
}
.dog-bio-pic{
width:100%;
}
.dog-name{
  font-size:20px;
}

@media only screen and (min-width: 993px) {
  /* line 12, /Users/ShawsRP/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/materialize-sass-0.97.6/app/assets/stylesheets/materialize/components/_grid.scss */
  .container {
    width: 85%;
  }
}

// Container
.container {
  margin-top: 2%;
}
// About Us
img.tm-member {
    width: 72%;
    border-radius: 50%;
    border: #494545 solid 6px;
}
.team-content a {
    color: #256f93;
    font-size: 12px;
}
.team-content a:hover {
    color: #494545;
}

// Information page

.info-nav li {
    border-left: #444444 3px solid;
    margin: 4px 0;
    padding: 0 6px;
}
.info-nav li:hover{
    border-left: #256f93 3px solid;
}
.info-nav a {
    font-size:19px;
    color:#5b5b5b;
}
.info-nav a:hover {
    color:#256f93;
}

// .side-nav li:first-child{
//   right:25px;
// }
.side-nav li:hover:first-child, .side-nav li:hover:first-child a {
  border-left: 0px;
  color: #3b6cad;
  font-weight:700;
}
.side-nav li:hover:first-child a{
  padding: 0 30px;
  font-weight:700;
}
