@import "materialize/components/color";
$primary-color: color("black", "lighten-2") !default;
$secondary-color: #424242 !default;
@import 'materialize';
@import 'compilations.scss';
@import 'dogs.scss';
@import 'statics.scss';
@import 'slick.scss';
@import 'slick-theme.scss';
@import 'quizzes.scss';
@import 'devise/*';
@import 'quiz-result';

body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#162624+1,000f09+91,000f09+100 */
  background: rgb(22,38,36); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(22,38,36,1) 1%, rgba(0,15,9,1) 91%, rgba(0,15,9,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(22,38,36,1) 1%,rgba(0,15,9,1) 91%,rgba(0,15,9,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(22,38,36,1) 1%,rgba(0,15,9,1) 91%,rgba(0,15,9,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#162624', endColorstr='#000f09',GradientType=0 ); /* IE6-9 */
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
}


@font-face {
  font-family: "Poster";
  src: font-url("Poster.ttf") format("truetype");
}

.watchdogs {
  font-family: "Poster";
  color: black;
  font-size: 7.5em;
}

.page-wrap {

}

// Overwrite default font
html {
  font-family: 'Prompt', sans-serif;
}



// Navigation

nav{
  background:none;
  box-shadow:none;
  width: 5%;
  right: 1%;
  top: 0;
  position: fixed;
  z-index: 999;
}

nav .button-collapse{
  right:10px;
}
nav .mdi-navigation-menu{
  color:rgb(255,255,255);
}
.side-nav{
  background:rgba(0,0,0,.8);
  color:white;
}
.side-nav li:hover {
  border-left: 3px solid #d4d4d4;
}
.side-nav li:hover a {
  padding: 0 27px;
}
.side-nav li a {
  color: #cacaca;
  font-size: 16px;
  line-height: 60px;
}

// Info Page

.chart td {
  line-height: 4px;
}

.information-page{
  background-color:#000000;
  color:#FFFFFF;
}
h1.info-title {
  margin-top: 135px;
}
h1, h3{
  color:rgb(255,255,255);
  text-shadow: 2px 1px 2px #969696;
}
.info-jump {
  display: block;
}

.veterans2 {
  display: inline;
}

.info-nav{
  position: fixed;
  top:0;
  padding: 1% auto;
  z-index: 950;
  width:100%;
  background: white;
}
.information-page .container {
  margin-top: 0%;
  padding: 15px;
}
.info-box {
  padding-bottom: 26%;
  background-repeat:no-repeat !important;
  background-size: cover !important;
}
.info-box.ptsd {
  background: url("ptsd-bg.jpg");
  padding: 11% 0 15% 0;
}
.info-box.ptsd .flow-text {
  width: 46%;
}
.info-box.veterans-info {
  background: url("soldiers.jpg");
  padding: 8% 0 5% 0;
}
.info-box.dogs {
  background: url("dogs-info.jpg");
}
.info-box .col {
  background: rgba(161, 161, 161, 0.6);
  padding: 15px 20px 25px;
  color: black;
}
.info-nav li {
  border-left: #444444 3px solid;
  margin: 4px 0;
  padding: 0 6px;
}
.info-nav li:hover{
  border-left: #256f93 3px solid;
}
.info-nav a {
  font-size:19px;
  color:#5b5b5b;
}
.info-nav li:hover a {
  color:#256f93;
}
.info-box.dogs{
  padding: 11% 0 15% 0;
}

// Cards
.card .card-title {
  font-size: 19px;
}

// Content

// Changing default font
// html {
//    font-family: GillSans, Calibri, Trebuchet, sans-serif;
//  }

// h1, h2, h3, h4, h5, h6{
//   text-decoration:underline;
// }


// Devise
p.notice {
  background: rgba(153, 202, 154, 0.8);
  border-radius: 3px;
  // padding: 3px 15px;
  color: rgb(92, 132, 95);
  // border: 1px solid rgb(92,132,95);
}
input[type=text] {
  color: whitesmoke;
}
.yelp{
  color:whitesmoke;
}

// Dogs
.dog-box {
  padding: 0 18px !important;
}
.dog-bio-pic{
  width:100%;
}
.dog-name{
  font-size:20px;
}
.dog-lowercase{
    text-transform: lowercase;
}
.dog-lowercase::first-letter{
    text-transform: uppercase;
}
.no-photo {
    border: 1px solid #373737;
    padding: 86px 15px;
    margin: 0 0 8px;
    text-align: center;
    font-size: 16px;
}

@media only screen and (max-width: 700px) {
  .container {
    width: 75%;
  }
}

@media only screen and (min-width: 993px) {
  /* line 12, /Users/ShawsRP/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/materialize-sass-0.97.6/app/assets/stylesheets/materialize/components/_grid.scss */
  .container {
    width: 85%;
  }
}



// @media only screen and (max-width: 600px) {
//   .container {
//     width: 78%;
//   }
// }

// Container
.container {
  margin-top: 2%;
}
// About Us
@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

* {
  margin: 0;
  padding: 0
}

// Contact_form
#modal1 {
  background: url(http://img6.uploadhouse.com/fileuploads/17737/17737075bdad5cfa9423bb2c3c2beee695c72bb8.jpg);
  color: #B1B1B1;
  margin: 15px auto 0;
  width: 60%;
}
#contact {
  overflow: auto;
}
#contact #form {
  width:410px;
  float:left;
}
#contact #form h2 {
  font: 48px 'Bree Serif', Georgia, serif;
}
#contact #form span {
  display:block;
  float:left;
  width:100px;
  padding-top:5px;
  font: 14px/16px'Bree Serif', Georgia, serif;
}
#contact #form input {
  float:left;
  width:255px;
  border:0px;
  color:#F1F1F1;
  padding:10px 10px 10px 30px;
  font: 11px/20px'Open Sans', Verdana, Helvetica, sans-serif;
  margin-bottom:10px;
}
#contact #form textarea {
  float:left;
  border:0px;
  width:255px;
  height:140px;
  padding:10px 10px 10px 30px;
  font: 11px/20px'Open Sans', Verdana, Helvetica, sans-serif;
  color:#F1F1F1;
  resize: none;
}
#contact #form input.name {
  background:#222222 url(http://img7.uploadhouse.com/fileuploads/17737/177370145f09fe433945815665aa214f80dbc6af.png) no-repeat 10px 8px;
}
#contact #form input.email {
  background:#222222 url(http://img6.uploadhouse.com/fileuploads/17737/177370138cc63992182149e9befabff3eafa6d23.png) no-repeat 10px 9px;
}
#contact #form input.captcha {
  background:#222222 url(http://img3.uploadhouse.com/fileuploads/17737/17737011310213e71805ecf2292144cbbecf42ad.png) no-repeat 10px 9px;
}
#contact #form textarea.message {
  background:#222222 url(http://img3.uploadhouse.com/fileuploads/17737/1773701229ed8c2f465a8274623ca8976adaf196.png) no-repeat 10px 8px;
}
#contact #form input.submit {
  cursor: pointer;
  width:85px;
  height:30px;
  float:right;
  padding:0px 0px 5px 0px;
  margin:10px 16px 0px 0px;
  background:#222222;
  color:#F1F1F1;
  font: 14px/16px'Bree Serif', Georgia, serif;
}
#contact #captcha span{
  width: 44px;
}
#contact #captcha input{
  background: url(http://img3.uploadhouse.com/fileuploads/17737/17737011310213e71805ecf2292144cbbecf42ad.png) no-repeat scroll 0 0 transparent;
  margin: 5px 0 0;
  padding: 0;
  border: medium none;
  cursor: pointer;
  width: 15px;
}

// Meet the Team page

.team-header {
  text-shadow: 3px 3px #3E4A49
}

.team-links {
  color: black;
}

.contact-btn {
  float: right;
}

.bio {
  text-align: center;
}

.team-member {
  background: #3E4A49;
  padding: 19px;
  margin: 10px 0;
  border-radius: 15px;
}
img.tm-member-img {
  // width: 72%;
  border-radius: 50%;
  margin: auto 5%;
  border: #494545 solid 7px;
}
img.tm-member-img.col.s12 {
  padding: 0px ;
}
.team-content a {
  color: black;
  font-size: 12px;
}
.team-content a:hover {
  color: #494545;
}
.team-member .row {
  margin: 0 -0.75rem;
}

// .side-nav li:first-child{
//   right:25px;
// }
.side-nav li:hover:first-child, .side-nav li:hover:first-child a {
  border-left: 0px;
  color: #3b6cad;
  font-weight:700;
}
.side-nav li:hover:first-child a{
  padding: 0 30px;
  font-weight:700;
}
