// Home page 'logo' styling
.home-content {
    color: rgb(255,255,255);
    text-shadow: 1px 1px 3px rgb(110, 110, 110);
    // position: absolute;
    // text-align: center;
    // bottom: 5%;
    // width: 65%;
}
.home-content h1, .home-content p{
    margin:0;
}
