// Place all the styles related to the dogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Search Shelter Form

.card .card-content .card-title {
  line-height: 23px;
}
.card .card-title {
  font-size: 21px;
}

.generate-search {


}

.search-dogs {
  color: white;
  margin: auto;
  padding: 11% 0;
}

.btn-dogs {
  border-radius: 25px;
  color: white;
  background-color: #424242;
}
.btn:hover, .btn-large:hover {
  background-color: #e0e0e0;
  color: rgb(255,255,255);
}
.select-wrapper span.caret {
  color: rgba(255,255,255, .9);
}
.search-header {
  text-shadow: 2px 2px #3E4A49;
  padding: 25px;
}



/*this is the css for the cards breeds and traits card flip*/
/* entire container, keeps perspective */


.flipper img {
    max-height: 230px;
    width: auto;
    margin: 0 auto;
    display: block;
    border: 1px solid #504f4f;
}
.flipper h3{
  font-size: 1.92rem;
}

.card-title {
  font-size: 35px;
  color: black;
  text-align: center;
}

.flip-container {
  perspective: 1000px;


  //******  search dogs stylings
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  height: 330px;
  margin: 15px auto;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  color:whitesmoke;
  top: 0;
  left: 0;
  -webkit-box-shadow: 2px 2px 3px 1px rgba(41,41,41,1);
  -moz-box-shadow: 2px 2px 3px 1px rgba(41,41,41,1);
  box-shadow: 2px 2px 3px 1px rgba(41,41,41,1);
}

/* front pane, placed above back */
.front {
  z-index: 2;
  background-color: rgba(0,0,0,.5);

  /* for firefox 31 */
  transform: rotateY(0deg);
}
.front h3{
  color:whitesmoke;
}
/* back, initially hidden pane */
.back {
  transform: rotateY(-180deg);
  background-color: rgba(0,0,0,.5);
  text-align: center;
  padding:8px;
  overflow: hidden;
  height:330px;
}
.back p {
    text-align: left;
    padding: 0 10px;
}
.back:hover {
    overflow: visible;
    overflow-y: scroll;
}
