// Place all the styles related to the dogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Breeds cards



.card .card-content .card-title {
  line-height: 23px;
}
.card .card-title {
  font-size: 21px;
}

.generate-search {
	background-color: #2C3233;
}

.search-dogs {
	color: white;
	margin: auto;
  padding: 11% 0;
}

.btn-dogs {
	border-radius: 25px;
	color: grey;
	background-color: white;
}
.btn:hover, .btn-large:hover {
    background-color: #256f93;
    color: rgb(255,255,255);
}
.select-wrapper span.caret {
    color: rgba(255,255,255, .9);
}
.search-header {
  text-shadow: 2px 1px 2px rgba(150, 150, 150, 1);
	padding: 25px;
}



/*this is the css for the cards breeds and traits card flip*/
/* entire container, keeps perspective */


img{
	width: 400px;
  height: auto;
}

.card-title {
	font-size: 35px;
	color: black;
	text-align: center;
}

.flip-container {
	perspective: 1000px;
	height: 100px;
//******  search dogs stylings
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
	height: 10px;
	width: 10px;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	text-align: center;
}
