// Place all the styles related to the dogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Breeds cards

.card .card-content .card-title {
  line-height: 23px;
}
.card .card-title {
  font-size: 21px;
}

.generate-search {
	background-color: #2C3233;
}

.search-dogs {
	color: white;
	margin: auto;
  // width: 50%;
  padding: 100px;
}

.btn-dogs {
	border-radius: 25px;
	color: grey;
	background-color: white;

}

.search-header {
	padding: 25px;
	height: -100px;

}
