<div class='row'>
	<%= form_tag locations_path, :method => 'get' do %>
		<div class="col s12 m6">
			<%= text_field_tag :term, params[:term], required: true, placeholder: 'Search places', class: "form-control" %>
		</div>
		<div class="col s12 m6">
			<%= text_field_tag :location, params[:location], required: true, placeholder: 'Zip or City, State', class: "form-control" %>
		</div>
		<%= submit_tag "Search", :name => nil, class: "btn btn-default"%>
	<% end %>
</div>

